/*
------------------------------------------------------------------------------------
====================================================================================
Filename    : App.css
Created By  : Vincent Fournier et Bettina-Sarah Janesch
About       : fichier css pour la composante principale App.
====================================================================================
------------------------------------------------------------------------------------
*/

.App {
  min-height: 100vh;
  overflow: auto;
  flex-grow: 1;
}